.whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  /* dark background */
  border: 2px solid #333;
  border-radius: 20px;
  width: 400px;
  height: 550px;
  margin: 60px auto;
  padding: 20px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #f5f5f5;
  text-transform: uppercase;
}

.guessImg {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.316);
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.buttons button:hover {
  background-color: #0056d2;
  transform: translateY(-2px);
}