.lobby-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.lobby-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#code{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    color: #00eaff;
}
.lobby-table {
  width: 80%;
  max-width: 500px;
  border-collapse: collapse;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 255, 200, 0.2);
}

.lobby-table th,
.lobby-table td {
  padding: 15px;
  text-align: center;
}

.lobby-table th {
  background-color: #222;
  color: #00eaff;
}

.lobby-table tr:nth-child(even) {
  background-color: #181818;
}

.back-btn,.next-btn {
  margin-top: 2rem;
  background-color: #00eaff;
  color: #0f0f0f;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-btn:hover,.next-btn:hover {
  background-color: #00bcd4;
  transform: scale(1.05);
}
.buttons{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}